set_correction:ALL_INFORMATION
set_rule:no_globals
set_rule:all_flags
set_rule:no_libtool
do_test_makefile:./Makefile
do_test_plagiat:*.c *.h src/*.c includes/*.h Makefile
do_analyse_date:*.h *.c src/*.c includes/*.h Makefile
do_test_norminette:*.h includes/*.h
do_test_norminette:*.c src/*.c
do_make_watch
do_test:test
do_test:bonus
